Python and SQL are two of the most important languages for Data Analysts. You will need to connect to database and execute queries directly against databases. The below python packages can be imported for connecting to DB :


| Database | Python Package |
| ------ | ------ |
| SQL Server | pyodbc |
| Oracle | cx_Oracle |
| MySQL | mysql.connector |

In [1]:
import pyodbc
import configparser

In [2]:
# Read Connection details from Config file
try:
    
    config = configparser.ConfigParser()
    config.read('config.ini')
    conn_str = 'Driver={SQL Server};Server=' + config['SQL_DATABASE']['SERVER'] + ';Database=' + config['SQL_DATABASE'][
        'DATABASE'] + ';Trusted_Connection=yes;'
except Exception:
        print("Not able to connect to Config file")  
        raise Exception

In [3]:
# DB Connection
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [4]:
# Function to take sql query string and optionally parameter values and type of parameter value variable and 
# execute the query in DB with the parameter value(if needed)

def execute_sql(sql,**kwargs):  
    dict = {}
    for key, value in kwargs.items(): 
        dict[key] = value

    try:
        
        # if only sql is passed to execute_sql function, then "not dict" will be True as kwargs is null and dict is still {}
        if(not dict): 
            cursor.execute(sql)
        # if only string parameter values is passed execute single query
        elif len(dict)==1:       
            cursor.execute(sql,dict["val"])  
        # if parameter value type is passed as "list" then executemany query 
        else: 
            cursor.executemany(sql,dict["val"])
    except Exception:
        conn.rollback()
        print("Database connection error")
    else:    
        conn.commit()

In [5]:
def display_data(sql):
    try:
        # execute select statement and print results
        cursor.execute(sql)
        for i in cursor:    
            print(i)
    except Exception:
        print("Database connection error")

In [6]:
# Display the data from table
display_data(config['SQL_QUERY']['SELECT_QUERY'])

(1, 'cfcd208495d565ef66e7dff9f98764da', 'c81e728d9d4c2f636f067f89cc14862c', '6f4922f45568161a8cdf4ad2299f6d23', 'sneakers', 'desktop', '2019-01-11 09:24:43', 'banner_click', '0')
(2, 'c4ca4238a0b923820dcc509a6f75849b', 'eccbc87e4b5ce2fe28308fd9f2a7baf3', '4e732ced3463d06de0ca9a15b6153677', 'sneakers', 'desktop', '2019-01-09 09:38:51', 'banner_show', '0')
(3, 'c81e728d9d4c2f636f067f89cc14862c', 'eccbc87e4b5ce2fe28308fd9f2a7baf3', '5c45a86277b8bf17bff6011be5cfb1b9', 'sports_nutrition', 'desktop', '2019-01-09 09:12:45', 'banner_show', '0')
(4, 'eccbc87e4b5ce2fe28308fd9f2a7baf3', 'eccbc87e4b5ce2fe28308fd9f2a7baf3', 'fb339ad311d50a229e497085aad219c7', 'company', 'desktop', '2019-01-03 08:58:18', 'banner_show', '0')
(5, 'a87ff679a2f3e71d9181a67b7542122c', 'eccbc87e4b5ce2fe28308fd9f2a7baf3', 'fb339ad311d50a229e497085aad219c7', 'company', 'desktop', '2019-01-03 08:59:15', 'banner_click', '0')
(6, 'e4da3b7fbbce2345d7772b0674a318d5', 'a87ff679a2f3e71d9181a67b7542122c', '182be0c5cdcd5072bb1864cdee4d3d6e', 'sports_nutrition', 'mobile', '2019-01-14 05:33:39', 'banner_show', '0')
(7, '1679091c5a880faf6fb5e6087eb1b2dc', 'e4da3b7fbbce2345d7772b0674a318d5', 'e369853df766fa44e1ed0ff613f563bd', 'sneakers', 'mobile', '2019-03-02 15:10:16', 'banner_show', '0')
(8, '8f14e45fceea167a5a36dedd4bea2543', '1679091c5a880faf6fb5e6087eb1b2dc', '1c383cd30b7c298ab50293adfecb7b18', 'sneakers', 'desktop', '2019-02-10 12:19:30', 'banner_show', '0')
(9, 'c9f0f895fb98ab9159f51fd0297e236d', '8f14e45fceea167a5a36dedd4bea2543', '17e62166fc8586dfa4d1bc0e1742c08b', 'accessories', 'desktop', '2019-02-06 05:21:08', 'banner_show', '0')
(10, '45c48cce2e2d7fbdea1afc51c7c6ad26', '8f14e45fceea167a5a36dedd4bea2543', '2ff279ece91cd2eaae06e449f5a20a0c', 'clothes', 'desktop', '2019-01-24 10:36:13', 'banner_show', '0')

In [7]:
# Inserting data 
val = ('7b13b2203432ed80337f56127a9f1d28', 'fe73f687e5bc5280214e0476b273a5f9', 'f470fdd03234fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')

In [8]:
execute_sql(config['SQL_QUERY']['INSERT_QUERY'],val=val)

In [9]:
# Inserting multiple data 
val = [('7b13b2203029ed8043f56127a9f1d28', 'fe73f687e5bc7678784e0476b273a5f9', 'f470fdd03171fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0'),
('7b13b2203029ed88767f56127a9f1d28', 'fe73f687e5bc5674534e0476b273a5f9', 'f470fdd03171fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')]

In [10]:
execute_sql(config['SQL_QUERY']['INSERT_QUERY'],val = val,vtype = 'list')

In [11]:
# Verifying data before deletion
display_data(config['SQL_QUERY']['VERIFY_DELETE_QUERY'])

(8471236, '7b13b2203432ed80337f56127a9f1d28', 'fe73f687e5bc5280214e0476b273a5f9', 'f470fdd03234fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')
(8471237, '7b13b2203029ed8043f56127a9f1d28', 'fe73f687e5bc7678784e0476b273a5f9', 'f470fdd03171fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')
(8471238, '7b13b2203029ed88767f56127a9f1d28', 'fe73f687e5bc5674534e0476b273a5f9', 'f470fdd03171fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')
(8471239, '7b13b2203432ed80337f56127a9f1d28', 'fe73f687e5bc5280214e0476b273a5f9', 'f470fdd03234fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')
(8471240, '7b13b2203029ed8043f56127a9f1d28', 'fe73f687e5bc7678784e0476b273a5f9', 'f470fdd03171fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')
(8471241, '7b13b2203029ed88767f56127a9f1d28', 'fe73f687e5bc5674534e0476b273a5f9', 'f470fdd03171fb2bfe46d29c9f3e4356', 'company', 'mobile', '2020-01-20 22:27:53', 'banner_click', '0')

In [12]:
# Deleting data 
execute_sql(config['SQL_QUERY']['DELETE_QUERY'])

In [13]:
# Verifying data after deletion
display_data(config['SQL_QUERY']['VERIFY_DELETE_QUERY'])

In [14]:
conn.close()