# Data Types

Python has a number of built-in data types such as numbers (integers, floats, complex numbers), strings, lists, tuples, and dictionaries.

Each of these can be manipulated using:

1. Operators
1. Functions
1. Data-type methods

## Numbers

Numbers can be integers, floating points, Booleans, or complex numbers. The former three are the most important:

+ Integers are whole numbers - 1, 2, 22, 476, -99999
+ Floats have decimal points - 1.0, 2.22, 22.098, 476.1, -99999.9
+ Booleans represent either True or False (or 1 or 0). They represent data that can only be one thing or another.

In [1]:
num = 1
type(num)

int

In [2]:
num = 1.5
type(num)

float

In [3]:
b = True
type(b)

bool

Python can also handle complex numbers and its associated functions using the file “cmath”. Complex numbers have their uses in many applications related to mathematics and python provides useful tools to handle and manipulate them.

An complex number is represented by **"x + yi"**. Python converts the real numbers x and y into complex using the function complex(x,y). The real part can be accessed using the function real() and imaginary part can be represented by imag().

In [4]:
import cmath 
x = 5
y = 3
z = complex(x,y); 
print(z)

(5+3j)

In [5]:
print ("The real part of complex number is : ",end="") 
print (z.real)

The real part of complex number is : 5.0

In [6]:
print ("The imaginary part of complex number is : ",end="") 
print (z.imag)

The imaginary part of complex number is : 3.0

In [7]:
print ("The phase of complex number is : ",end="") 
print (cmath.phase(z))

The phase of complex number is : 0.5404195002705842

#### Float / int 

float() - given an integer, this function returns a float.

int() - given a float, this function returns an integer. There is no rounding of the number, the function simply throws out anything after the decimal point (flooring) and returns the number.

In [8]:
float(9)

9.0

In [9]:
float(-9)

-9.0

In [10]:
int(10.6)

10

In [11]:
int(3.25)

3

#### Is integer 

float.is_integer() - tests if a float is finite.

In [12]:
(10.0).is_integer()

True

In [13]:
(10.1).is_integer()

False

## String

Strings are lines of text that are declared with single or double quotes

In [14]:
name = 'John'
type(name)

str

In [15]:
word = 'abcdefgh'
len(word) # this function returns the length of string

8

In [16]:
word[0]

'a'

In [17]:
word[7]

'h'

In [18]:
word[9]

IndexError: string index out of range

#### Slicing 

Given a start and stop value, you can access a set of, or single, character(s) from the string.

In [19]:
word[0:4] # print till 4th character

'abcd'

In [20]:
word[:4]

'abcd'

In [21]:
word[:-4]

'abcd'

In [22]:
word[-3:]

'fgh'

#### Format

Easily format values into strings

In [23]:
name = "Ansu John"
greeting = "My name is {}".format(name)
print(greeting)

My name is Ansu John

#### Strip

Returns the string with the leading and trailing whitespace removed

In [24]:
b  = "     Yes      "
print(b)
print(b.strip())

     Yes
Yes

#### Replace

In [25]:
word.replace('f','g') # new string created

'abcdeggh'

In [26]:
print(word) # old word stays as it is

abcdefgh

## Tuple

Tuples are similar to lists, but they are immutable - which means they cannot be changed after creation.

In [27]:
weeks =('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')
print(weeks)

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [28]:
type(weeks)

tuple

In [29]:
weeks[0]

'Sunday'

In [30]:
weeks[:3]

('Sunday', 'Monday', 'Tuesday')

In [31]:
weeks[6] = 'Testing'

TypeError: 'tuple' object does not support item assignment

In [32]:
salaries = tuple()
print(salaries)

()

In [33]:
type(salaries)

tuple

In [34]:
first_tuple = (1, 2)
second_tuple = (3, 4)
print(first_tuple + second_tuple)

(1, 2, 3, 4)

In [35]:
print(list(first_tuple))

[1, 2]

Because tuples are immutable, many of the list methods don’t work on tuples

In [36]:
first_tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
first_tuple.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

In [38]:
first_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [39]:
first_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

## List

Lists, which are called Arrays in nearly every other programming language, group various types of data together.

1. create_a_list = []
1. numbers_list = [1, 2, 3]
1. strings_list = ["spam", "eggs", "cheese"]
1. mixed_list = ["Hello", [1, 2, 3], False]

As you can see above, lists may contain any data type (you can mix and match, too), including other lists or nothing at all. You can access parts of lists just like strings with indexes.

In [40]:
salaries = [] # create empty list
print(salaries)

[]

In [41]:
salaries = list() # create empty list
print(salaries)

[]

In [42]:
salaries = [8,10,15,20,16]
print(salaries)

[8, 10, 15, 20, 16]

In [43]:
type(salaries)

list

In [44]:
salaries[0] = 18
print(salaries)

[18, 10, 15, 20, 16]

#### Append

list.append() - used to add an item to the end of a list

In [45]:
salaries.append(28)
print(salaries)

[18, 10, 15, 20, 16, 28]

#### Sort
list.sort() - sort this list

In [46]:
salaries.sort()
print(salaries)

[10, 15, 16, 18, 20, 28]

#### Pop 

list.pop() - given an index value, remove an element from the list

In [47]:
salaries.pop(2)
print(salaries)

[10, 15, 18, 20, 28]

#### Mixed list

In [48]:
mixed_list = [1,'a',1.5, [155,'b'], (12,13)]
print(mixed_list)

[1, 'a', 1.5, [155, 'b'], (12, 13)]

In [49]:
mixed_list[4]

(12, 13)

In [50]:
type(mixed_list[4])

tuple

In [51]:
mixed_list[3]

[155, 'b']

In [52]:
type(mixed_list[3])

list

#### Slicing 

slice() - given a start and stop value, you can access a set of elements.

In [53]:
numbers_list = [1, 2, 3, 200]

In [54]:
numbers_list[0]

1

In [55]:
numbers_list[1:2]

[2]

In [56]:
numbers_list[2:]

[3, 200]

In [57]:
numbers_list[-1] # Negative indexes count from the last item backwards

200

#### Concatenation

In [58]:
fruits = ["apples", "grapes", "oranges"]
veggies = ["corn", "kale", "mushrooms"]
print(fruits + veggies)

['apples', 'grapes', 'oranges', 'corn', 'kale', 'mushrooms']

In [59]:
print( 2 * fruits)

['apples', 'grapes', 'oranges', 'apples', 'grapes', 'oranges']

#### Length 

len() - given a list, this function returns the length of it

In [60]:
len(fruits)

3

#### Reverse

In [61]:
fruits.reverse()
print(fruits)

['oranges', 'grapes', 'apples']

In [62]:
### List Operation

In [63]:
List1 = ['Python', 'Py', 'Pyth', 'Python3'] 
List2 = List1*2 
List3 = List1[:] 
List2[0] = 'Hello' 
List3[1] = 'World' 
sum = 0 
print(List1,end=" ")

['Python', 'Py', 'Pyth', 'Python3']

In [64]:
print(List2,end=" ")

['Hello', 'Py', 'Pyth', 'Python3', 'Python', 'Py', 'Pyth', 'Python3']

In [65]:
print(List3,end=" ")

['Python', 'World', 'Pyth', 'Python3']

In [66]:
for ls in (List1, List2, List3):
    print(ls,end=" ")

['Python', 'Py', 'Pyth', 'Python3'] ['Hello', 'Py', 'Pyth', 'Python3', 'Python', 'Py', 'Pyth', 'Python3'] ['Python', 'World', 'Pyth', 'Python3']

In [67]:
for ls in (List1, List2, List3):
    print(ls[0]+" "+ls[1])

Python Py
Hello Py
Python World

In [68]:
for ls in (List1, List2, List3): 
    if ls[0] == 'Hello': 
        sum += 1 
    if ls[1] == 'World': 
        sum += 2 
    print(sum, List2)

0 ['Hello', 'Py', 'Pyth', 'Python3', 'Python', 'Py', 'Pyth', 'Python3']
1 ['Hello', 'Py', 'Pyth', 'Python3', 'Python', 'Py', 'Pyth', 'Python3']
3 ['Hello', 'Py', 'Pyth', 'Python3', 'Python', 'Py', 'Pyth', 'Python3']

In [82]:
print(sum, List2)

3 ['Hello', 'Py', 'Pyth', 'Python3', 'Python', 'Py', 'Pyth', 'Python3']

## Dictionary

Dictionaries are a type of associative array (an object) implemented using hash tables containing key/value pairs. They are unordered.

In [69]:
salaries = {'John':15, 'Johnny':17, 'Jane':20}
print(salaries)

{'John': 15, 'Johnny': 17, 'Jane': 20}

In [70]:
type(salaries)

dict

In [71]:
print(salaries['John'])

15

In [72]:
print(salaries['JohnTest'])

KeyError: 'JohnTest'

In [73]:
print(salaries.get('JohnTest',16)) # Get JohnTest's salary. If its not there then get 16

16

In [74]:
testDict = dict()
print(testDict)

{}

In [75]:
type(testDict)

dict

In [76]:
testDict['John'] = 25
print(testDict)

{'John': 25}

## Set

Sets are used to store multiple items in a single variable. A set is a collection which is both unordered and unindexed.

In [77]:
s = set()
type(s)

set

In [78]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [79]:
s.add(1)
s.add(2)
s.add(2) # Duplicate values will be ignored
print(s)

{1, 2}

In [80]:
1 in s

True

In [81]:
print(len(s))

2